/**
 * @name ClearVision V7 for BetterDiscord
 * @author ClearVision Team
 * @version 7.0.1
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */

/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/betterdiscord.css");

/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #2780e6; 
  --hover-color: #1e63b3; 
  --success-color: #43b581; 
  --danger-color: #982929; 

  /* STATUS COLORS */
  --online-color: #43b581; 
  --idle-color: #faa61a; 
  --dnd-color: #982929; 
  --streaming-color: #593695; 
  --offline-color: #808080; 

  /* APP BACKGROUND */
  --background-shading-percent: 50%; 
  --background-image: url("https://cdn.discordapp.com/attachments/1493790126638370819/1498885570162724884/60052283-cdec-4690-9971-e6e942b847dc.jpg?ex=69f2c977&is=69f177f7&hm=baba9af2d9a840f0fe211a826902029907a1302302e9fbda4b43e70623e87626&");
  --background-position: center; 
  --background-size: cover; 
  --background-attachment: fixed; 
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1)); 

  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image); 
  --user-popout-position: var(--background-position); 
  --user-popout-size: var(--background-size); 
  --user-popout-attachment: var(--background-attachment); 
  --user-popout-filter: var(--background-filter); 

  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image); 
  --user-modal-position: var(--background-position); 
  --user-modal-size: var(--background-size); 
  --user-modal-attachment: var(--background-attachment); 
  --user-modal-filter: var(--background-filter); 

  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg); 
  --home-size: cover; 

  /* FONTS */
  --main-font: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace; 

  /* CHANNEL COLORS */
  --channel-normal: var(--interactive-text-default); 
  --channel-muted: var(--interactive-muted); 
  --channel-hover: var(--interactive-text-hover); 
  --channel-selected: var(--interactive-text-active); 
  --channel-selected-bg: var(--main-color); 
  --channel-unread: var(--main-color); 
  --channel-unread-hover: var(--hover-color); 

  /* ACCESSIBILITY */
  --focus-color: var(--main-color); 
}

/* THEME SPECIFIC SHADING (DARK) */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4); 
  --card-shading: rgba(0, 0, 0, 0.2); 
  --popout-shading: rgba(0, 0, 0, 0.6); 
  --modal-shading: rgba(0, 0, 0, 0.4); 
  --input-shading: rgba(255, 255, 255, 0.05); 
  --normal-text: #d8d8db; 
  --muted-text: #aeaeb4; 
}
